*{
  margin: 0;
  padding: 0;
}

.select-sub{
  margin-top: 4%;
}

.select-sub .select-subject{
  margin-top: 20px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  width: 20%;
  font-size: 14px;
  text-align: center;
  border-radius: 10px;
}

.select-sub .submit-subject{
  width: 100px;
  margin-left: 30px;
  background: linear-gradient(45deg, #fc84ac, #9c7ccc);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
  cursor: pointer;
}

.attendance-table{
  margin-top: 3%;
  margin-right: 12%; 
  margin-left: 12%;
  overflow-y: auto;
  overflow-x: auto;
}

.table{
  border-spacing: 0;
  margin: 1rem;
  background-color: white;
  height: 100px;      
  overflow-y: auto;    
  overflow-x: hidden;
}

.table__row:nth-child(even){
  background-color: #e0e0e0;
}

.table__header{
  text-align: center;
}

.table__cell{
  padding: 8px;
  text-align: center;
}